@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  width: 100%;
  margin: 0;
  overflow: hidden;
  align-items: center;
  background-color: #eef0f6;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.card {
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.4px 3.6px rgba(0, 0, 0, 0.004),
    0 1px 8.5px rgba(0, 0, 0, 0.01), 0 1.9px 15.7px rgba(0, 0, 0, 0.019),
    0 3.4px 28.2px rgba(0, 0, 0, 0.03), 0 6.3px 54.4px rgba(0, 0, 0, 0.047),
    0 15px 137px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 336px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
  user-select: none;
}

.card.show {
  opacity: 1;
  visibility: visible;
}

.text {
  box-sizing: border-box;
  padding: 0 20px 20px;
  width: 100%;
  user-select: none;
}

.title {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
  position: relative;
}

.info {
  color: #64686b;
  user-select: none;
}

#telegramLink {
  color: #0060f6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  user-select: none;
}

#telegramLink:hover {
  color: #003cb3;
  text-decoration: underline;
}

.buttons {
  display: flex;
  margin-top: 8px;
  width: 100%;
  /* Center the single button */
  justify-content: center;
  padding-bottom: 28px;
}

/* From Uiverse.io by BHARGAVPATEL1244 */
button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 4rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #66ff66;
 color: ghostwhite;
 width: 90%;
 box-sizing: border-box;
}

button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

button:hover span {
 color: black;
}

button::before,
button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

button::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
 transform: translate3d(100%, 0, 0);
}